.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 50px;
  margin: auto;

  mat-toolbar {
    mat-toolbar-row {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-around;

      ul {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        li {
          list-style-type: none;
        }
      }
    }
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    justify-content: center;
    align-content: center;
    max-width: 1000px;
    margin: auto;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  main {
    max-width: 900px;
    margin: auto;

    section.desc {
      p {
        max-width: 500px;
        font-size: 1.2em;
        line-height: 1.3em;
      }
    }
  }
}
