<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="" alt="logo" />
      <ul>
        <li>
          <button [routerLink]="['/Login']" routerLinkActive="active" mat-raised-button color="secondary">
            Login
          </button></li>
        <li>
          <button (click)="authService.clearSession()" routerLinkActive=" active" mat-raised-button color="secondary">
            Log Out
          </button>
        </li>
        <li>
          <button [routerLink]="['/Register']" routerLinkActive="active" mat-raised-button color="secondary">
            Register
          </button>
        </li>
        <li>PORTAL</li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
  <Header>
    <div class="img">
      <img src="/assets/images/landing/relax.svg" alt="" />
    </div>
    <div class="content">
      <h1>RELAX...</h1>
      <h2>We got you covered</h2>
    </div>
  </Header>
  <main>
    <section class="desc">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error nihil
        modi ipsam quaerat. Aut, sapiente officiis iusto repellendus sequi
        debitis quod magnam velit nam soluta dicta necessitatibus quidem,
        eveniet porro?
      </p>
    </section>
    <Section class="types">
      <h1>Get Insured</h1>
      <div class="type">General</div>
      <div class="type">Life</div>
      <div class="type">Health</div>
      <div class="type">Motor</div>
    </Section>
  </main>
  <footer>
    LOGO
  </footer>
</div>
