.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 50px;
  margin: auto;

  mat-toolbar {
    mat-toolbar-row {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-around;

      ul {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        li {
          list-style-type: none;
        }
      }
    }
  }
}
