<div class="container">
  <app-header></app-header>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="PRODUCTS">
      <div class="productContainer">
        <app-product *ngFor="let product of products" [product]="product"></app-product>
      </div>
    </mat-tab>
    <mat-tab label="MY POLICIES">
      <div class="policyContainer">
        <h1>MY POLICIES</h1>
        <div class="pending">
          <h1>Pending</h1>
          <ul style="">
            <li *ngFor="let request of requests">
                <span *ngIf="request.status === 'pending'">
                    <p>Name:{{ request.product.name }}</p>
                    <p>Type:{{ request.product.type }}</p>
                </span>
            </li>
          </ul>
        </div>
        <div class="approved">
          <h1>Approved</h1>
          <ul>
            <li *ngFor="let request of requests">
                <span *ngIf="request.status === 'granted'">
                    <p>Name:{{ request.product.name }}</p>
                    <p>Type:{{ request.product.type }}</p>
                </span>
            </li>
          </ul>
        </div>
        <div class="rejected"></div>
        <h1>Rejected</h1>
        <ul>
          <li *ngFor="let request of requests">
              <span *ngIf="request.status === 'blocked'">
                  <p>Name:{{ request.product.name }}</p>
                  <p>Type:{{ request.product.type }}</p>
                </span>
          </li>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
