* {
  box-sizing: border-box;
}
ul{
  display: flex;
  flex-direction: column;
  li{
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.089);
  }
}
.container {
  background-color: rgb(67, 67, 196);
  min-height: 100%;
  padding-bottom: 50px;

  .productContainer {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  }
}

.policyContainer {
  color: white;
}
