<div class="customContainer">
  <mat-card>
    <mat-card-header>
      <a [routerLink]="['/Home']">
        <img class="logo" src="/assets/images/logo.webp" alt="LOGO" height="100px"></a>
      <h1>Register</h1>
      <div *ngIf="displayError">
        <p>Failed to log in </p>
        <p>Please <a href="/Login">login</a> if you already have an account</p>
        <p>or Try again later</p>
      </div>
      <div class="" *ngIf="authService.isLoggedIn()">
        <h4>Hi, {{ authService.getName() }}
        </h4>
        <p>You are already Logged</p>
        <button [routerLink]="['/Portal']" mat-raised-button color="primary">Dashboard</button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form id="formId" [formGroup]="newUserForm" (ngSubmit)="submit()">
        <div class="form">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" type="text" required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required />
          </mat-form-field>
          <button [disabled]="!newUserForm.valid" mat-raised-button color="primary">Register</button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <h5>Already have an account?
        <a [routerLink]="['/Login']">Login</a></h5>
    </mat-card-actions>
  </mat-card>
</div>
